<template lang="pug">
#main
  //modal form
  //- b-modal(id="contact-form" hide-footer hide-header) 
  //-   ContactForm(:email="email")
          
  //background video

  .background
    video.hero-background-video(autoplay muted loop)
      source(src="@/assets/hero-background-video.mp4" type="video/mp4")

  // navbar
  b-navbar.navbar-container.bg-black(toggleable="lg" fixed="top")
   b-container
    b-navbar-brand(href="#home")
      img.navbar_brand-logo(src="@/assets/logo_2.svg" alt="SAVAGE DAMAGE")
      
        

    b-navbar-toggle.bg-light(target="nav-collapse")

    b-collapse#nav-collapse(is-nav)
      b-navbar-nav.ml-auto
        b-nav-item(v-for="(navItem, index) in navItems" :href="navItem.link" :key="index")
          .navbar-item() {{ navItem.name }}
    
      
    //- <div class="contact-button" v-b-modal.contact-form>Contact us</div>

    //- <b-modal id="contact-form" hide-footer hide-header>
    //-   <ContactForm :email="email"/>
    //- </b-modal>

  //hero layout

  .social-networks-widget
      a.sn-link(v-for="(sn, index) in socialNetworks" :key="index" :href="sn.link")
        img(:src="sn.logo" :alt='sn.name')

  b-container.hero-layout#home
    //- <a name="home"></a> 
    b-row
      b-col(sm="6")
        h1.hero-title SAVAGE DAMAGE
        br
        h1.second-title NEW ALBUM OUT NOW
        br
        br
        p.info Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa commodi rem magnam nam itaque, impedit labore sit optio repudiandae reiciendis accusantium repellat obcaecati? Odio pariatur dolores necessitatibus totam eligendi accusantium

        b-button.button(variant="outline-dark" :href="navItems[2].link") More music

      b-col.player-container(sm="6")
        //- div
        //-   b-spinner(type="grow" label="Loading...")
      
        iframe(allow="autoplay *; encrypted-media *;" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/circles-deluxe/1501337739?app=music" height="450" frameborder="0")

  //news 
  

  .news-background-container(v-show="isDataLoaded && isNewsLoaded")#news
    b-container.news-background(fluid)
    
    b-container.news-container
      b-row
        b-col 
          h1.section-title NEWS
    
      b-row(cols="4")
        b-col(v-for="(latestNew, index) in latestNews" :key="index" lg="4" md="6" cols="12")
          b-card.new-card(
              tag="article"
              @click="loadArticle(latestNew.title)"
            )
              b-card-img.new-card_image(
                :src="uri + latestNew.pic.url" alt="Image"
              )
              b-card-title.new-card_title {{ latestNew.title }}
              b-card-text {{ latestNew.description }}  
            
  //releases
  
  b-container.releases-container#releases(v-show="isDataLoaded && isNewsLoaded" fluid)
    b-container
      b-row
        b-col
          h1.section-title Releases

      b-row
        b-col.release-card-container(sm="6" cols="12") 
          <iframe @load="onDataLoaded" allow="autoplay *; encrypted-media *;" style="width:100%;max-width:660px;height:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/new-music-daily/pl.2b0e6e332fdf4b7a91164da3162127b5?app=music" height="450" frameborder="0"></iframe>
        b-col.release-card-container(sm="6" cols="12") 
          <iframe @load="onDataLoaded" allow="autoplay *; encrypted-media *;" style="width:100%;max-width:660px;height:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/swimming/1408996052?app=music" height="450" frameborder="0"></iframe>

  //about and contact

  .about-background-container#about(fluid) 
    //- <a name="about"></a>
    b-container.about-container
      b-row
        b-col
          h1.section-title About & Contact

      b-row 
        b-col(sm="6" cols="12")

          p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Ullamcorper morbi tincidunt ornare massa eget egestas. Vitae ultricies leo integer malesuada nunc vel. Mauris cursus mattis molestie a iaculis.  
          
          b-form(@submit="onSubmit" @reset="onReset" v-if="show").input-form
            b-form-group.input-title#input-group-2(label="Your Name:" label-for="input-2")
              b-form-input#input-1(
                v-model="form.name"
                required
                placeholder="Enter Name"
              )

            b-form-group.input-title#input-group-1(
              label="Email Address:"
              label-for="input-1"
            )
              b-form-input#input-1(
                v-model="form.email"
                type="email"
                required
                placeholder="Enter Your Email"
              )

            b-button.button(type="submit" variant="outline-dark") Submit
            b-button.button(type="reset" variant="outline-danger") Reset

        b-col(sm="6" cols="12")
          img.band-photo(src="@/assets/band.jpg" alt="")

  // footer

  b-container.footer-container(fluid)
    b-container
      b-row.footer-container_row
        b-col.footer-logo_container(cols='12' sm='3')
          img(src='@/assets/logo_2.svg' alt="SAVAGE DAMAGE")
        b-col(cols='12' sm='3')
          ul.footer-links
            li.footer-links_title Menu
            li 
              a(href="#home") Home
            li 
              a(href="#releases") Releases
            li 
              a(href="#about") About
        b-col(cols='12' sm='3')
          ul.footer-links
            li.footer-links_title Contact us
            li Kharkiv, Ukraine
            li example@mail.com
        b-col(cols='12' sm='3')
          //- b-input-group
          //-   b-form-input(v-model='email' :placeholder="form.email")
          //-   b-input-group-append
          //-     b-button.contact-us-button(text='Contact us' v-b-modal.contact-form) Contact us
          //- .sn-icons_container
          a.sn-links(v-for="(sn, index) in socialNetworks" :key="index" :href="sn.link")
            img(:src="sn.logo" :alt="sn.name")

      hr
      b-row.footer-bottom
        b-col
          .footer-copyright Copyright 2020
        //- b-col(cols="6")
        //-   a.footer-links_terms-privacy(href='' cols="6") Terms of use
        //-   a.footer-links_terms-privacy(href='' cols="6") Privacy Policy
// footer  


</template>

<script>
import axios from "axios";

export default {
  title: "Savage Damage Band",

  name: "Main",
  data() {
    return {
      uri: "http://vladmaleev.online:8888",
      navItems: [
        { name: "Home",     link: "#home"     },
        { name: "News",     link: "#news"     },
        { name: "Releases", link: "#releases" },
        { name: "About",    link: "#about"    }
      ],
      latestNews: [],
      form: {
        email: "",
        name: ""
      },
      show: true,
      socialNetworks: [
        { name: "Facebook",  link: "http://facebook.com",  logo: require("@/assets/fb.svg") },
        { name: "Instagram", link: "http://instagram.com", logo: require("@/assets/ig.svg") },
        { name: "Twitter",   link: "http://twitter.com",   logo: require("@/assets/tw.svg") }
      ],
      isDataLoaded: false,
      isNewsLoaded: false
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.registerNewUser();

      this.form.email = "";
      this.form.name = "";

      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });

      // this.form.email = ''
      // this.form.name = ''
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      // this.form.food = null
      // this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    registerNewUser() {
      axios
        .post(this.uri + "/auth/local/register", {
          username: this.form.name,
          email: this.form.email,
          password: "test"
        })
        .then(response => {
          // Handle success.
          console.log("Well done!");
          console.log("User profile", response.data.user);
          console.log("User token", response.data.jwt);
        })
        .catch(error => {
          // Handle error.
          console.log("An error occurred:", error);
        });
    },
    loadArticle(title) {
      let newTitle = title.replace(/\s+/g, '-').toLowerCase();

      this.$router.push("/article/" + newTitle);
    },
    onDataLoaded() {
      this.isDataLoaded = true;
    },
    expandNew() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("read-more-button");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
  },
  mounted() {
    fetch(this.uri + "/news")
      .then(r => r.json())
      .then(res => (this.latestNews = res))
      .then(() => (this.isNewsLoaded = true));
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap');
// main
@import '../styles/main';
// hero
@import '../styles/hero';
// news
@import '../styles/news';
// releases
@import '../styles/releases';
// about-and-contact
@import '../styles/about-and-contact';
// footer
@import '../styles/footer';
// media queries
@import '../styles/media-queries';
</style>
