@media screen and (max-width: 768px) 
  .hero-layout 
    height 90%

  .background
    min-height 1250px
  .hero-background-video 
    min-height 1250px

  .hero-title 
    margin 60px 0 -10px 0

  .player-container 
    margin 60px 0 60px 0
    // mergin-bottom 100px
    opacity 1

  .about-background-container
    background-repeat no-repeat
    background-size cover
    height 100%
  
  .band-photo 
    width 100%
    border-radius 10px
    margin-bottom 100px
  
  .footer-container_row
    padding-top 20px

  .footer-logo_container
    padding-bottom 20px
    & img 
	    width 100px
      margin-bottom 100px
  
  .sn-links img 
    width 35px
  
  .social-networks-widget
    position fixed
    overflow hidden
    display inline-flex
    flex-direction row
    justify-content space-around
    bottom 0
    top 92%
    width 100%
    z-index 2000
    background-color #000000
    padding 5px
    border-radius 10px 10px 0px 0px 
    border 1px solid #fff
    border-bottom 1px solid #000

  .sn-link
    & img
     width 35px
     margin 5px 0
