//news

.news-background-container 
  position relative
  width 100%
  min-height 550px
  background-color #000

.news-background
  background-image url("../assets/stage-no-border.png")
  filter blur(5px)
  background-size cover
  background-position center
  background-repeat no-repeat
  width 100%
  height 100%
  position absolute

.news-container 
  position relative
  z-index 100

  &:last-child 
    padding-bottom 70px

.new-card-link
  text-decoration none
  color inherit


.new-card 
  margin-top 30px
  opacity 0.9
  cursor pointer

  &_image
    object-fit cover
    height 200px
  &_title
    margin-top 10px

.card-body 
  padding 0
  height 360px

.card-title
  padding 20px 10px 0 10px

.card-text 
  padding 0 10px 0 10px
  width 100%
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden
  