<template lang="pug">
  #app
    router-view
</template>

<script>
import Main from "@/components/Main.vue";

export default {
  components: {
    Main
  }
};
</script>

<style lang="stylus">
  html
    scroll-behavior smooth

  #app, body
    padding 0
    margin 0
</style>
